<aside class="advertising">

  <div class="contenido">

    <div class="buscador">
      <h2> Publicidad (Componente) </h2>
      <p> Buscar <input type="text" ng-model="$ctrl.query"> </p>
      <p> Orden por
        <select ng-model="$ctrl.priority">  <!-- The model is applied if the option value is the same that the variable of controller -->
            <option value="name" selected> Nombre </option>   <!-- A model and template are bidirectional at the moment to modify if they have been declared -->
            <option value="saleNumber"> Ventas </option>
        </select>
      </p>
    </div>

    <div class="mostrador">
      <ul class="list">
        <li ng-repeat="product in $ctrl.products | filter:$ctrl.query | orderBy:$ctrl.priority">  <!-- NG-REPEAT directive works like a FOR (structure control) but it could contain filters and -->
          <a href="#!/json-lists/detail/{{product.productId}}" class="thumb">
              <img ng-src="{{product.imageUrl}}" alt="{{product.name}}" class="thumbnail">
          </a>
          <p>{{product.name}}</p>
          <p>{{product.snippet}}</p>
        </li>
      </ul>
    </div>

  </div>

</aside>
