@import _variables

.advertising
  display: inline-flex
  flex-direction: column
  background-color: $background-A
  padding: 10px
  border: 2px none
  border-radius: 20px

  .buscador
    display: inline-flex
    flex-direction: column
    line-height: 1vw

    h2
      line-height: inherit
    p
      display: inline-flex
      flex-direction: row
      line-height: inherit

      input
        width: 100%
      select
        width: 100%

  .mostrador
    display: flex
    flex-direction: column
    // Ninguna viñeta
    list-style: none
    margin: 0
    padding: 0

    li
      clear: both
      // Let float elements
      margin-top: 10px
      border: solid black 2px
      border-radius: 20px

      .thumb
        float: left
        padding: 5px
        height: 100px
        width: 100px
        // margin: top rigth botton left

        .thumbnail
          height: 100%
          width: 100%
